@media (max-width: 599px) {
}
@media (min-width: 600px) {
    .hotelInfo{
        border: 1px solid #121212;
        border-radius: 4px;
        cursor: pointer;
        padding: 15px 10px;
        margin: 10px 20px !important;
    }
}